doctype html
html(lang="en")
    head
        include headerdetails.pug
        include styles.pug
        title Homepage
    body
        div(class='grid-container') 
            div(class='grid-item-style div1') 
                h3= message
                h5= nofviews
                a(href="/login")="Login Page" 
                br
                a(href="/account")="My Account"
                div
                    form(method="post" action="/logout")
                        table 
                            input(type="submit" value="Logout")
            include infodivs.pug