doctype html
html(lang="en")
    head
        include headerdetails.pug
        include styles.pug
        title Login 
    body
        div(class='grid-container') 
            div(class='grid-item-style div1') 
                a(href="/")="Home page"
                h5= nofviews
                form(method="post" action="/login")
                    table 
                        tr
                            td Username 
                            td 
                                input(type="text" name="username")
                        tr 
                            td Password 
                            td 
                                input(type="password" name="password")
                        tr 
                            td=errMssg
                            td
                                input(type="submit" value="Login")
            include infodivs.pug
